<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>결제완료 창</title>
	</head>
	<body>
    
        <div class="card-body">
                <form method="post" id="payForm">
                    <div>결제 완료</div>
                    <div class="my-2">
                         <label class="form-label" for="amount">금액</label>
                        <input class="form-control"  id="amount" th:value="${amount}+원" readonly/>
                    </div>
                    
                </form>    
        </div>

	</body>
</html>